<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtramin.donethat" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.note.NoteActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.MainActivity">
        </activity>

        <activity
            android:name=".ui.EditNoteActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.CreateTripActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="com.mtramin.donethat.action.AUTH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".auth.TwitterAuthenticationService"
            android:process=":auth"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4dd4609ee8ce24674767de64fd050c4007073122" />
    </application>

</manifest>
